.sidebar-wrapper {
  &.chat-mode {
    .sidebar-section {
      &:not([data-section-name="chat-channels"]):not(
          [data-section-name="chat-dms"]
        ) {
        display: none;
      }
    }

    .chat-mode-toggle {
      background: var(--primary-low);
      color: var(--primary-high);
      .chat-channel-unread-indicator {
        border: 2px solid var(--primary-low);
      }
    }
  }

  &.forum-mode {
    .sidebar-section {
      &[data-section-name="chat-channels"],
      &[data-section-name="chat-dms"] {
        display: none;
      }
    }

    .forum-mode-toggle {
      background: var(--primary-low);
      color: var(--primary-high);
    }
  }

  .sidebar-sections {
    padding-top: 1em;
  }
}

.sidebar-footer-wrapper {
  .sidebar-footer-actions {
    width: 100%;
    display: flex;
    margin-left: 0;
  }
}

.sidebar-footer__mode-toggle {
  display: flex;
  border-bottom: 1px solid var(--primary-low);

  a {
    display: flex;
    align-items: center;
    padding: 0.74em 0.5em;
    color: var(--primary-high);
    flex: 1 1 100%;
    justify-content: center;

    &:hover {
      background: var(--primary-low);
      color: var(--primary);
    }
  }
  .chat-channel-unread-indicator {
    margin-left: 2.5em;
    margin-top: 1em;
    position: absolute;

    width: 1em;
    height: 1em;
    border: 2px solid var(--primary-very-low);
    font-size: var(--font-down-5);
    z-index: 2;
    .number {
      display: none;
    }
  }
}
